.responsive-chart-container {
    width: 100 %;
    padding: 10px;
    box-sizing: border-box;
}

.mud-card-header {
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
}

.card-custom-style {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #f5f5f5;
}

.mud-grid-spacing-xs-6 > .mud-grid-item {
    padding-left: 24px;
    padding-top: 16px;
}

.e-grid {
    font-family: "Roboto", "Montserrat", "Helvetica", "Arial", "sans-serif";
}

    .e-grid .e-altrow {
        background-color: #e3f1bd;
    }

    .e-grid .e-rowcell {
        font-size: 14px;
    }

    .e-grid .e-summarycell {
        font-size: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
    }